.app {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
}

.template {
    border: 1px dashed rgba(198, 43, 20);
    padding: 20px;
    width: 550px;
    max-width: 550px;
    border-radius: 5px;
}

.reactive {
    border: 1px dashed blue;
    padding: 20px;
    width: 550px;
    max-width: 550px;
    border-radius: 5px;
}